<div class="container">
<div class="formulario">
<form [formGroup]="formLogin" (submit)="send()">
    <h1>Contactos</h1>
    <hr class="linea mt-4 ">
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre:</label>
        <input type="text"  formControlName="nombre" class="form-control rounded" id="nombre">
        <span *ngIf="formLogin.get('nombre')?.invalid">ingrese un nombre </span>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" formControlName="email" class="form-control rounded" id="email" aria-describedby="emailHelp">
        <span  *ngIf="formLogin.get('email')?.invalid">ingrese un email </span>
      </div>
    <div class="mb-3">
      <label for="telefono" class="form-label">Telefono:</label>
      <input type="number" formControlName="telefono" class="form-control " id="telefono">
      <span *ngIf="formLogin.get('telefono')?.invalid">ingrese un telefono </span>
    </div>
    <div class="mb-3">
        <label for="asunto" class="form-label">Asunto:</label>
        <input type="text" formControlName="asunto" class="form-control " id="asunto">
        <span *ngIf="formLogin.get('asunto')?.invalid">ingrese un asunto </span>
      </div>
      <div class="mb-3">
        <label for="mensage" class="form-label">Mensage:</label>
        <input type="text" formControlName="mensage" class="form-control " id="mensage">
        <span *ngIf="formLogin.get('mensage')?.invalid">ingrese un mensage </span>
      </div>
      <div class="text-center">
    <button class="boton" [disabled]="formLogin.invalid">enviar</button>
   </div>
</form>
</div>
<br>
<div class="resultado">
    {{formLogin.value | json}}
</div>
</div>
<p></p>